<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order | Order History</title>
    <link rel="stylesheet" href="/css/sidebar-user.css" />
    <link rel="stylesheet" href="/css/share-css.css" />
    <link rel="stylesheet" href="/css/material-icon.css" />
  </head>
  <body>
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon center-all"
                ><img class="img" src="/images/order-now.png" alt=""
              /></span>
              <span class="title">Order System</span>
            </a>
          </li>
          <li>
            <a href="/order">
              <span class="material-icons icon"> fastfood </span>
              <span class="title">Order</span>
            </a>
          </li>
          <li>
            <a href="/order/cart">
              <span class="material-icons icon"> shopping_cart </span>
              <span class="title">Cart</span>
            </a>
          </li>
          <li>
            <a href="/order/order_history">
              <span class="material-icons icon"> receipt </span>
              <span class="title">Order History</span>
            </a>
          </li>
          <li>
            <a class="logout">
              <span class="material-icons icon"> logout </span>
              <span class="title">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <span class="material-icons"> menu </span>
          </div>
          <!-- Search Bar -->
          <!-- <div class="search">
            <label>
              <input type="text" placeholder="Search Here" />
              <ion-icon name="search-outline"></ion-icon>
            </label>
          </div> -->
          <!-- User Image -->
          <div class="user">
            <img src="/images/user.png" />
          </div>
        </div>
        <div class="full">
          <h1>Order History</h1>
          <div class="box">
            <div class="history-table">
              <div class="r4">Order Date</div>
              <div class="r4">Reference #</div>
              <div class="r4">Amount</div>
              <div class="r4">Total Tax</div>
              <div class="r4">Status</div>
            </div>
            <div class="order-history"></div>
          </div>
        </div>
    </div>
    </div>
    <div class="template-div">
      <div class="order-history0">
        <div class="r4 date"></div>
        <div class="r4 doc-no"></div>
        <div class="r4 amount"></div>
        <div class="r4 tax"></div>
        <div class="r4 status"></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/user/history.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/login/logout.js"></script>
  </body>
</html>
